body{
    background-color: chocolate;
}

table,td{
    border: 1px solid black;
}
td{
    text-align: center;
    font-size: 30;
    height: 50px;
    width: 50px;
}
table{
    margin:10% 40% 50% 40%;
    background-color: cornflowerblue;
    height: 50%;
    width: 25%;
}
h1{
    text-align: center;
    color: cornsilk;
}