body{
    background-color: rgb(44, 43, 43);
}
.box{
    margin: 50px 0 0 100px;
    border-radius: 20px;
    height: 250px;
    width: 500px;
    border: 3px solid rgb(73, 69, 69);
}
h2{
    color: rgb(158, 153, 153);
    font-size: 50px;
    margin-top: 0%;
    text-align: center;
}
.time{
    text-align: center;
    font-size: xx-large;
    color: wheat;
}
hr{
    margin-top: 20px;
}
.button{
    text-align: center;
}
#stop,#resume,#reset{
   font-size: larger;
   border-radius: 10px;
   background-color: black;
   color: antiquewhite; 
   margin-left: 20px;
}