div{
    margin: 4cm;
}
h1{
    color: blueviolet;
    
}
h3{
    color: brown;
}
div{
    background-color: burlywood;
    height: 10cm;
    width: 9cm;
}
body{
    background-color: cornflowerblue;
}
button{
    font-size:xx-large;
    margin: 1cm;
}
p{
    display: inline;
    height: 1cm;
    width: 3cm;
    margin-left: 2cm;
    font-size: xx-large;
}
@media (max-width:600px){
    div{
        height: 10cm;
        width: 8cm;
    }
}